.mainContainer {
    margin-left: 118px;
    margin-right: 118px;
}

.statusContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    margin-bottom: 30px;
    gap: 20px;
}

.statusColumn {
    flex: 1;
    max-width: 381px;
    height: 54px;
    border-radius: 10px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    font-family: FiraGo, sans-serif;
    line-height: 100%;
    letter-spacing: 0%;
}

.cardLayout {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.cardColumn {
    flex: 1;
    max-width: 381px;
    display: flex;
    flex-direction: column;
}

.yellow {
    background-color: #F7BC30;
}

.orange {
    background-color: #FB5607;
}

.pink {
    background-color: #FF006E;
}

.blue {
    background-color: #3A86FF;
}