.departmentInput{
    width: 550px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #DEE2E6;
    padding: 14px;
    display: flex;
    gap: 10px;
}
.employeeContainer{
    margin-top: 45px;
}