.mainContainer{
    margin-left: 118px;
    margin-right: 118px;
    width: 715px;
}
.heading{
    display: flex;
    align-items: center;
    gap: 20px;
}
.details{
    margin-top: 50px;
    margin-left: 118px;
    margin-right: 118px;
    width: 493px;
}
.status{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.leftsideStatus{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.status select{
    width: 259px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #CED4DA;
}
.leftsideEmployee{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.employeeContainer img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
.employee{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.employeeContainer{
    display: flex;
    justify-content: space-between;
}
.leftsideCalendar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.calendar{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.comment{
    width: 741px;
    height: 975px;
    position: absolute;
    left: 850px;
    top: -5px;
}
.titleContainer{
    position: relative;
}
.inputContainer{
    width: 651px;
    height: 135px;
    display: flex;
    align-items: start;
    position: relative;
}
.addComment{
    position: absolute;
    width: 155px;
    height: 35px;
    border-radius: 20px;
    background-color: var(--purple-color);
    color: var(--white-color);
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    border: 1px solid var(--purple-color);
}