*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --purple-color: #8338ec;
    --purple-hover: #B588F4;
    --white-color: #ffffff;
    --grey-color: #212529;
    --border-color: #DEE2E6;
    --grey-filter: #0D0F10;
    --modal-border: #CED4DA;
    --green-validation: #08A508;
    --red-validation: #FA4D4D;
}