.cardContainer {
    max-width: 381px;
    height: 217px;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 100%; 
    border: 1px solid;
}

.description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.upperContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftSide {
    display: flex;
    gap: 10px;
}

.textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 35px;
}

.heading {
    width: 100%; 
    max-width: 293px;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.employeePicture {
    height: 31px;
    width: 31px;
    border-radius: 50%;
}

.green{
    border: 1px solid #08A508
}
.yellow{
    border: 1px solid #FFBE0B  
}
.red{
    border: 1px solid #FA4D4D
}
.priority {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px;
    font-weight: 500;
    width: auto;
    height: 26px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
    border: 1px solid;
}
.priorityIcon{
    width: 16px;
    height: 18px;
}
.department{
    font-family: FiraGo;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
}